@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss"; */
@import "tailwindcss-animated";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Comic+Relief:wght@400;700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+SA:wght@100..400&family=Sacramento&family=Ysabeau+SC:wght@1..1000&display=swap');

/* ----------- Scrollbar Styling ---------- */
 ::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px #9FB3DF;
   background-color: #F5F5F5;
 }
 
 ::-webkit-scrollbar
 {
   width: 6px;
   background-color: #F5F5F5;
 }
 
 ::-webkit-scrollbar-thumb
 {
   background-color: #9FB3DF;
   /* border: 2px solid #c8d6f3; */
 }
 

/* ----- bg styling start ------- */
:root {
    --size-cube: 210px;
    --faces-interval: calc(var(--size-cube) / 10);
    --size-dot: 2px;
    --delay-anim: 0.3s;
  }
  
  body {
    margin: 0;
    padding: 0;
    /* background: #0033FF; */
    font-family:  "Comic Relief", cursive;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto;
  }
  
  .mod {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 330px;
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    /* background: whitesmoke; */
    overflow: auto;
  }
  
  .project-name {
    position: absolute;
    width: calc(var(--size-cube) * 2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.75em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Roboto Mono';
    font-weight: 300;
  }
  
  .cube {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-1 * var(--size-cube) / 2);
    margin-left: calc(-1 * var(--size-cube) / 2);
    width: var(--size-cube);
    height: var(--size-cube);
    transform-style: preserve-3d;
    transform-origin: calc(var(--size-cube) / 2) calc(var(--size-cube) / 2);
    animation: spinCube 9000ms linear infinite;
  }
  
  .faces {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size-cube);
    height: var(--size-cube);
  }
  
  .dot {
    position: absolute;
    background: #F7374F;
    width: var(--size-dot);
    height: var(--size-dot);
    border-radius: 50%;
  }
  
  .p1 { top: calc(-1 * var(--size-dot) / 2); left: calc(-1 * var(--size-dot) / 2); }
  .p2 { top: calc(-1 * var(--size-dot) / 2); left: 50%; margin-left: calc(-1 * var(--size-dot) / 2); }
  .p3 { top: calc(-1 * var(--size-dot) / 2); left: 100%; margin-left: calc(-1 * var(--size-dot) / 2); }
  .p4 { top: 50%; left: calc(-1 * var(--size-dot) / 2); margin-top: calc(-1 * var(--size-dot) / 2); }
  .p5 { top: 50%; left: 50%; margin-top: calc(-1 * var(--size-dot) / 2); margin-left: calc(-1 * var(--size-dot) / 2); }
  .p6 { top: 50%; left: 100%; margin-top: calc(-1 * var(--size-dot) / 2); margin-left: calc(-1 * var(--size-dot) / 2); }
  .p7 { top: 100%; left: 0%; margin-top: calc(-1 * var(--size-dot) / 2); margin-left: calc(-1 * var(--size-dot) / 2); }
  .p8 { top: 100%; left: 50%; margin-top: calc(-1 * var(--size-dot) / 2); margin-left: calc(-1 * var(--size-dot) / 2); }
  .p9 { top: 100%; left: 100%; margin-top: calc(-1 * var(--size-dot) / 2); margin-left: calc(-1 * var(--size-dot) / 2); }
  .p10 { top: 25%; left: 25%; margin-top: calc(-1 * var(--size-dot) / 2); margin-left: calc(-1 * var(--size-dot) / 2); }
  .p11 { top: 25%; left: 75%; margin-top: calc(-1 * var(--size-dot) / 2); margin-left: calc(-1 * var(--size-dot) / 2); }
  .p12 { top: 75%; left: 25%; margin-top: calc(-1 * var(--size-dot) / 2); margin-left: calc(-1 * var(--size-dot) / 2); }
  .p13 { top: 75%; left: 75%; margin-top: calc(-1 * var(--size-dot) / 2); margin-left: calc(-1 * var(--size-dot) / 2); }
  
  .f1 { transform: translateZ(calc(-1 * var(--faces-interval) * 5)); animation-delay: var(--delay-anim); }
  .f2 { transform: translateZ(calc(-1 * var(--faces-interval) * 4)); animation-delay: calc(var(--delay-anim) * 2); }
  .f3 { transform: translateZ(calc(-1 * var(--faces-interval) * 3)); animation-delay: calc(var(--delay-anim) * 3); }
  .f4 { transform: translateZ(calc(-1 * var(--faces-interval) * 2)); animation-delay: calc(var(--delay-anim) * 4); }
  .f5 { transform: translateZ(calc(-1 * var(--faces-interval) * 1)); animation-delay: calc(var(--delay-anim) * 5); }
  .f6 { transform: translateZ(0px); animation-delay: calc(var(--delay-anim) * 6); }
  .f7 { transform: translateZ(var(--faces-interval)); animation-delay: calc(var(--delay-anim) * 7); }
  .f8 { transform: translateZ(calc(var(--faces-interval) * 2)); animation-delay: calc(var(--delay-anim) * 8); }
  .f9 { transform: translateZ(calc(var(--faces-interval) * 3)); animation-delay: calc(var(--delay-anim) * 9); }
  .f10 { transform: translateZ(calc(var(--faces-interval) * 4)); animation-delay: calc(var(--delay-anim) * 10); }
  .f11 { transform: translateZ(calc(var(--faces-interval) * 5)); animation-delay: calc(var(--delay-anim) * 11); }
  
  @keyframes spinCube {
    0% { transform: rotateY(0deg) rotateX(-45deg) rotate(0deg); }
    50% { transform: rotateY(180deg) rotateX(135deg) rotate(180deg); }
    100% { transform: rotateY(360deg) rotateX(315deg) rotate(360deg); }
  }
  
  @keyframes spinDots {
    0% { transform: rotateX(0deg) rotateY(45deg); }
    50% { transform: rotateX(-180deg) rotateY(-135deg); }
    100% { transform: rotateX(-360deg) rotateY(-315deg); }
  }
  
  @keyframes spinFaces {
    0% { transform: rotateX(0deg); }
    50% { transform: rotateX(180deg); }
    100% { transform: rotateX(0deg); }
  }
/* ----- bg styling end ------- */
